@media (min-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  } 
  .col-md-6 {
    width: 50%;
  
    }
  
@media (min-width: 992px) { 
  .card {
        height: 100%;
  }
  .col-lg-6 {
    width: 50%;
  }
}
